<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid mt-5" th:fragment="carousel">
    <div id="myCarousel" class="carousel slide border" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="image-container">
                    <img class="d-block" th:src="@{/images/katinat.jpg}" alt="FriendShip1" loading="lazy">
                </div>
            </div>
            <div class="carousel-item">
                <div class="image-container">
                    <img class="d-block" th:src="@{/images/friendShip.jpg}" alt="FriendShip2" loading="lazy">
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>