<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid" th:fragment="gioiThieu">
    <div class="p-5 mt-5"  style="height: 500px; background-color:rgb(254, 231, 247);">
        <h2 class="d-flex justify-content-center align-items-center " style="color:rgb(211, 42, 135)">FriendShip - Chung tay góp sức vượt khó </h2>
        <div class="d-flex justify-content-center align-items-center ">
           <div class="row ">
               <div class="col-sm-4">
                   <p>huuwx</p>
               </div>
               <div class="col-sm-4">
                   <p>dep</p>
               </div>
               <div class="col-sm-4">
                   <p>trai</p>
               </div>
           </div>
       </div>

    </div>

</div>