<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid" th:fragment="gioiThieu">
    <div class="p-5 mt-5"  style="height: 500px; background-color:rgb(254, 231, 247);">
        <h2 class="d-flex justify-content-center align-items-center " style="color:rgb(211, 42, 135)">FriendShip - Chung tay góp sức vượt khó </h2>
        <div class="d-flex justify-content-center align-items-center ">
           <div class="row gt">
               <div class="col-sm-3 mt-5 d-flex flex-column align-items-center gap-5">
                   <h4>Cùng nhau vượt qua hoạn nạn.</h4>
                   <h4>Ai cũng có lòng tốt , thể hiện đi.</h4>
               </div>
               <div class="col-sm-6 mt-5 heart">
                   <h4>Chia sẽ với những người có hoàn cảnh khó khăn hơn mình để họ cải thiện cuộc sống tốt hơn. Nụ cười của họ sẽ là phần thưởng dành cho mình ^.^ .</h4>
               </div>
               <div class="col-sm-3 mt-5 d-flex flex-column align-items-center gap-5" >
                   <h4>Máu đỏ da vàng , tiếc chi vài ngàn .</h4>
                   <h4>Sống cho đi không thiệt thòi, được nhiều hơn đấy  !</h4>
               </div>
           </div>
       </div>

    </div>

</div>