<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nenTang">
    <div  class="container height">
        <div   class="nenTang">
            <div class="">
                <div class="row ">
                    <div class="col-sm-7">
                        <h2 class="color-pink">Nền tảng quyên góp từ thiện  FriendShip </h2>
                        <p>FriendShip là nền tảng giúp mọi người có thể dễ dàng giúp đỡ các hoàn cảnh khó khăn ở mọi lúc mọi nơi cùng với hàng triệu trái tim nhân ái trên thế giới </p>
                        <div class="row ">
                            <div class="col-sm-3">
                                <h4 class="border-left border-left">655</h4>
                                <p >dự án đã được gây quỹ thành công</p>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="border-left border-left">30+ Tỷ</h4>
                                <p>đồng được quyên góp</p>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="border-left border-left">20+ triệu</h4>
                                <p>lượt quyên góp</p>
                            </div>
                        </div>
                        <button class="custom-button btn-quyenGop">Quyên góp</button>
                        <button class="custom-button btn-infor">Giới thiệu</button>
                    </div>
                    <div class="col-sm-5">
                        <img src="./Images/family.png"
                             alt="imgFamily"
                             class="img-fluid"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

