<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="proverb">
    <div class="proverb-image-container position-relative text-center">
        <div class="quote-overlay position-absolute w-100 text-white">
            <blockquote class="quote">
                "Hãy mang lấy gánh nặng của nhau, và như vậy các thành viên trong xã hội sẽ chu toàn bản sắc dân tộc."
                <cite>Đạt, Hữu, Hưng, Khôi - Thư gửi Ga-Lát</cite>
            </blockquote>
        </div>
        <img th:src="@{/images/Galaxy.jpg}" alt="Inspirational Image" class="img-fluid" loading="lazy">
    </div>
</div>