<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="proverb">
    <div class="proverb-image-container position-relative text-center">
        <div class="quote-overlay position-absolute w-100 text-white">
            <blockquote class="quote">
                "Sự vĩ đại của 1 dân tộc bắt nguồn từ sự thấu hiểu của mỗi cá thể."
                <cite>Đạt - Hữu - Hưng - Khôi</cite>
            </blockquote>
        </div>
        <img th:src="@{/images/Galaxy.jpg}" alt="Inspirational Image" class="img-fluid" loading="lazy">
    </div>
</div>