<html xmlns:th="http://www.thymeleaf.org">
<div th:each="ro : ${role}">
    <form th:action="@{/api/role/updateRole(id=${ro.roleId})}" method="post" id="form-donationPost">
        <input type="hidden" name="roleId" th:value="${ro.roleId}">
        <h4>Role Update</h4>
        <div class="mb-2 mt-2">
            <label class="form-label">Name :</label>
            <input type="text" class="form-control" placeholder="Name" name="name" th:value="${ro.name}" required>
        </div>
        <div class="mb-2 mt-2">
            <label class="form-label">Description :</label>
            <input type="text" class="form-control" placeholder="Description" name="description" th:value="${ro.description}" required>
        </div>
        <div class="d-flex justify-content-between form-btn">
            <button type="submit" class="btn btn-primary">Sửa</button>
            <button type="button" class="back-btn btn-secondary">Trở lại</button>
        </div>
    </form>
</div>